/* --- VARIABLES DES THEMES NBA --- */

/* CONFÉRENCE OUEST */
.theme-thunder      { --team-prim: #007CC2; --team-sec: #E55F2A; }
.theme-spurs        { --team-prim: #000000; --team-sec: #D2D6D7; }
.theme-nuggets      { --team-prim: #0E2240; --team-sec: #F4CC34; }
.theme-lakers       { --team-prim: #542581; --team-sec: #F8C02F; }
.theme-rockets      { --team-prim: #D70B0D; --team-sec: #C1C4CE; }
.theme-timberwolves { --team-prim: #252B3D; --team-sec: #385B7F; }
.theme-blazers      { --team-prim: #D90828; --team-sec: #1B1B1B; }
.theme-suns         { --team-prim: #342559; --team-sec: #F29C5F; }
.theme-clippers     { --team-prim: #2D2F3E; --team-sec: #91273B; }
.theme-warriors     { --team-prim: #092C73; --team-sec: #F6CF2A; }
.theme-pelicans     { --team-prim: #0C2340; --team-sec: #C0AD85; }
.theme-mavericks    { --team-prim: #2B4B92; --team-sec: #373B49; }
.theme-grizzlies    { --team-prim: #002649; --team-sec: #7BA7CC; }
.theme-kings        { --team-prim: #393997; --team-sec: #7E827B; }
.theme-jazz         { --team-prim: #00275E; --team-sec: #E9E7F1; }

/* CONFÉRENCE EST */
.theme-pistons      { --team-prim: #00519A; --team-sec: #D21033; }
.theme-celtics      { --team-prim: #037039; --team-sec: #DCDFEA; }
.theme-knicks       { --team-prim: #2C4185; --team-sec: #FF5B27; }
.theme-cavaliers    { --team-prim: #6F263D; --team-sec: #BF976C; }
.theme-raptors      { --team-prim: #B41A1A; --team-sec: #353335; }
.theme-hawks        { --team-prim: #AD0210; --team-sec: #CBCBDA; }
.theme-76ers        { --team-prim: #1560BD; --team-sec: #D9DCED; }
.theme-magic        { --team-prim: #007CC5; --team-sec: #2C2D32; }
.theme-hornets      { --team-prim: #03869C; --team-sec: #B3B7C1; }
.theme-heat         { --team-prim: #000000; --team-sec: #932336; }
.theme-bucks        { --team-prim: #2C5234; --team-sec: #BFC2CE; }
.theme-bulls        { --team-prim: #D4001F; --team-sec: #1C191F; }
.theme-nets         { --team-prim: #000000; --team-sec: #C3C5D1; }
.theme-pacers       { --team-prim: #041E42; --team-sec: #E7C449; }
.theme-wizards      { --team-prim: #C60C31; --team-sec: #363648; }

/* --- APPLICATION DYNAMIQUE DU STYLE SUR LA PAGE --- */
.conference-hero { background-color: var(--team-prim) !important; border-bottom: 8px solid var(--team-sec) !important; }
#btn-publish { background-color: var(--team-prim) !important; }
#form-title, #recent-topics-title { color: var(--team-prim) !important; }
.sujet-card { border-left: 4px solid var(--team-prim) !important; }
.sujet-card h3 { color: var(--team-prim) !important; }
.sujet-card h3:hover { color: var(--team-sec) !important; text-decoration: underline; }
#pagination-sujets button { border-color: var(--team-prim) !important; color: var(--team-prim) !important; }
#pagination-sujets button:hover:not([disabled]) { background-color: var(--team-prim) !important; color: white !important; }